* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 100px;
  justify-content: center;
  align-items: center;
}

#container {
  border: 1px solid black;
}

.row {
  display: flex;
  height: 25px;
}

.square {
  width: 25px;
  height: 25px;
  border: 1px solid black;
}

.colored {
  background-color: black;
}
